<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a>
 </br>
<?php
 Print "I am a web server configured using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";

 $link = new mysqli("localhost", {{ mysql_user }}, {{ mysql_pass }});
 /* проверка соединения */
 if (mysqli_connect_errno()) {
    printf("Не удалось подключиться: %s\n", mysqli_connect_error());
    exit();
 }
 if ($result = mysqli_query($link, "SHOW DATABASES")) {
    //printf("select %d\n", mysqli_num_rows($result));
    $res = mysqli_fetch_all($result,MYSQLI_ASSOC);
    //$result->fetch_all(MYSQLI_ASSOC);
    echo "<pre>";
      print_r($res);
    echo "</pre>";
    mysqli_free_result($result);
 }
 if ($result = mysqli_query($link, "SELECT user FROM mysql.user")) {
    //printf("select %d\n", mysqli_num_rows($result));
    $res = mysqli_fetch_all($result,MYSQLI_ASSOC);
    echo "<pre>";
      print_r($res);
    echo "</pre>";
    mysqli_free_result($result);
 }
 mysqli_close($link);

?>
</body>
</html>
